{% extends "base.html" %}
{% load static %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <section id="slider-sec" class="slider-reg">
            <div class="main-flex-slider">
                <ul class="slides">
                    <li>
                        <figure>

                            <img src="{% static 'img/mb_bg.png' %}" class="img-responsive" alt="slider-img-1">
                            <figcaption class="slider-overlay ">
                                <div class="slider-text animated fadeInDown">
                                    <h1>Python and Django <br>Expertise</h1>
                                    <p>
                                        Lofty Labs specializes in software development consulting using <br>Python and the Django framework.
                                    </p>
                                    <p class="slide-btn"><a href="/contact-us/" class="btn btn-white btn-lg">Contact Us</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>

                            <img src="{% static 'bizwrap/assets/img/img-6.jpg' %}" class="img-responsive" alt="slider-img-1">
                            <figcaption class="slider-overlay ">
                                <div class="slider-text animated fadeInDown">
                                    <h1>Staff Augmentation</h1>
                                    <p>
                                        We provide dedicated resources to get your team on track and see your projects to completion.
                                    </p>
                                    <p class="slide-btn"><a href="/contact-us/" class="btn btn-white btn-lg">Contact Us</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>

                            <img src="{% static 'img/fayettepy-bg.png' %}" class="img-responsive" alt="slider-img-1">
                            <figcaption class="slider-overlay ">
                                <div class="slider-text animated fadeInDown">
                                    <h1>Building a Community</h1>
                                    <p>
                                        Lofty Labs proudly sponsors and organizes <strong>FayettePy</strong>. <br>We're building a community of Python engineers in Northwest Arkansas.
                                    </p>
                                    <p class="slide-btn"><a href="http://www.meetup.com/FayettePy-Python-Meetup/" class="btn btn-white btn-lg">Come Learn about Code</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </section><!--main flex slider end-->
        <div class="space-50"></div>
        <div class="container">
            <div class="row intro-row">
                <div class="col-md-12 text-center wow animated fadeInUp">
                    <h2>Lofty Labs is a web software development consultancy</h2>
                    <h3 class="subtitle">Happily home in Fayetteville, Arkansas</h3>
                </div>
                <div class="space-70"></div>
                <div class=" col-sm-4">
                    <div class="services-box">
                        <i class="ion-laptop"></i>
                        <h1>Web Application Development</h1>
                        <p>
                            We build stellar web apps.  Python and Django are our weapons of choice.
                        </p>
                    </div>
                </div><!--services box-->
                <div class=" col-sm-4">
                    <div class="services-box">
                        <i class="ion-ios-color-wand-outline"></i>
                        <h1>Process Automation</h1>
                        <p>
                            We build tailored applications to help businesses more efficiently serve their customers.
                        </p>
                    </div>
                </div><!--services box-->
                <div class="col-sm-4">
                    <div class="services-box">
                        <i class="ion-clock"></i>
                        <h1>Staff Augmentation</h1>
                        <p>
                            Need an extra developer on your team or a senior engineer to get things on track?  We can help.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--row end-->
        </div><!--intro with services end-->
        <div class="space-70"></div><div class="space-30"></div>

        {% comment %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading-sec">Recent work</h3>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="{% static 'bizwrap/assets/img/work/work-1.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">portfolio item title here</h4>
                            <span class="portfolio-post-cat">Branding</span>
                            <h4><a href="portfolio-single.html" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="{% static 'bizwrap/assets/img/work/work-2.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">portfolio item title here</h4>
                            <span class="portfolio-post-cat">Branding</span>
                            <h4><a href="portfolio-single.html" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="{% static 'bizwrap/assets/img/work/work-3.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">portfolio item title here</h4>
                            <span class="portfolio-post-cat">Branding</span>
                            <h4><a href="portfolio-single.html" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->


                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="{% static 'bizwrap/assets/img/work/work-4.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">portfolio item title here</h4>
                            <span class="portfolio-post-cat">Branding</span>
                            <h4><a href="portfolio-single.html" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="{% static 'bizwrap/assets/img/work/work-5.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">portfolio item title here</h4>
                            <span class="portfolio-post-cat">Branding</span>
                            <h4><a href="portfolio-single.html" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-6 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="{% static 'bizwrap/assets/img/work/work-6.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">portfolio item title here</h4>
                            <span class="portfolio-post-cat">Branding</span>
                            <h4><a href="portfolio-single.html" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
            </div><!--row portfolio item-->
        </div><!--recent work container end-->
        {% endcomment %}

        <div class="space-70"></div>
        <section id="content-region-1" class="padding-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 features">
                        <h3>Projects We Live For</h3>
                        <p>
                            Lofty Labs consultants have an average 10 years experience in software engineering, with specializations in Python, Django, ElasticSearch, and many more technologies.
                            Our consultants have worked in small businesses, media organizations, and enterprise supporting everything from marketing departments to big data.
                        </p>
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-laptop"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">Large-scale Web Applications / APIs</h4>
                                <p>
                                    Django has proven itself a top tier framework for building high tech and <strong>massively scalable</strong> applications and APIs, like Pinterest and Instagram.  <strong>If you need scale</strong>, we'll architect it.
                                </p>
                            </div>
                        </div><!--services list-->
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-stats-bars"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">Data Analysis and Pipelines</h4>
                                <p>
                                    Need to stream big data into your application?  We build distributed systems to <strong>process huge volumes of data</strong> in the background.
                                     Are you sitting on a huge pile of data and need custom tools to dissect it?  We build software custom fitted to your data that help you <strong>get straight to insights.</strong>
                                </p>
                            </div>
                        </div><!--services list-->
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-monitor"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">Media and Marketing</h4>
                                <p>
                                    <strong>We are not a marketing agency,</strong> but we know our way around content management.  If you're getting nowhere with a CMS platform cobbled together with unreliable plugins that don't fit your business, we can help.
                                </p>
                            </div>
                        </div><!--services list-->


                    </div>
                    <div class="col-md-5">
                        <img src="{% static 'img/ipad.png' %}" class="img-responsive" alt="">
                    </div>
                </div>

            </div><!--container-->
        </section><!--features end-->

        <section id="content-region-2" class="padding-40 parallax-1">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">"We needed an advanced customer booking system for our website that tied to our dispatch API. Lofty Labs streamlined the development and implemented a very user-friendly platform, and now our customer database has grown 60% since last month!"<p>
                                        <span class="testi-person">Andrew Miles, Operations Manager - Green Cab Company </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->

        {% comment %}
        <div class="space-70"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading-sec">Latest news</h3>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-4 col-sm-6 margin-btm-20">
                    <div class="news-sec">
                        <div class="news-thumnail">
                            <a href="blog-post.html">
                                <img src="{% static 'bizwrap/assets/img/blog/blog-1.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                            <span class="news-post-cat">On 26 may 2014 | sports</span>
                            <p>
                                aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                            </p>
                        </div>
                    </div>
                </div><!--latest news items-->
                <div class="col-md-4 col-sm-6 margin-btm-20">
                    <div class="news-sec">
                        <div class="news-thumnail">
                            <a href="blog-post.html">
                                <img src="{% static 'bizwrap/assets/img/blog/blog-2.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                            <span class="news-post-cat">On 26 may 2014 | sports</span>
                            <p>
                                aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                            </p>
                        </div>
                    </div>
                </div><!--latest news items-->
                <div class="col-md-4 col-sm-6 margin-btm-20">
                    <div class="news-sec">
                        <div class="news-thumnail">
                            <a href="blog-post.html">
                                <img src="{% static 'bizwrap/assets/img/blog/blog-4.jpg' %}" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                            <span class="news-post-cat">On 26 may 2014 | sports</span>
                            <p>
                                aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                            </p>
                        </div>
                    </div>
                </div><!--latest news items-->
            </div><!--row end-->
        </div><!--container recent news end-->
        <div class="space-50"></div>
        <div class="newsletter-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Get latest news from us</h3>
                        <p>
                            Subscribe to our newsletter
                        </p>
                    </div>
                </div><!--row-->

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <form method="post" action="#" class="form-subscribe">
                            <input type="text" name="email" placeholder="Email Id..." class="form-control">
                            <button type="submit" name="submit" class="btn theme-btn-color btn-block">Subscribe Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
        <div class="cta-bg">
            <div class="container text-center">
                <h3>How Can We Help?
                    <a href="mailto:hello@hirelofty.com" class="btn btn-lg btn-white btn-radius">Let's Get Started</a>
                </h3>
            </div>
        </div>
{% endblock %}